block variables
  //- Meta Tags HTML
  - let siteName = 'ErwCode', pageTitle;

  //- Meta Tags SEO
  - let metaDescription, metaKeywords;

  //- OpenGraph Protocol
  - let ogTitle, ogDescription, ogUrl, ogImage;

doctype html
html(lang="es-MX")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    if pageTitle === 'Inicio'
      title= `${siteName} | Tecnologías de la Información & Marketing Digital`
    else
      title= `${pageTitle} | ${siteName}`
    meta(name="description" content=metaDescription)
    meta(name="keywords" content=metaKeywords)
    meta(name="author" content="ErwCode Technologies")
    meta(name="robots" content="index, follow")
    meta(property="og:locate" content="es-MX")
    meta(property="og:type" content="website")
    if ogTitle === 'Inicio'
      meta(property="og:title" content = `${siteName} | Tecnologías de la Información & Marketing Digital`)
    else
      meta(property="og:title" content = `${ogTitle} | ${siteName}`)
    meta(property="og:description" content=ogDescription)
    meta(property="og:url" content=ogUrl)
    meta(property="og:site_name" content="ErwCode | Tecnologías de la Información & Marketing Digital")
    meta(property="og:image" content=ogImage)
    link(rel="shortcut icon" href="./assets/images/favicon.png")

  body
    include includes/menu.pug
    block body
